
@{
    ViewBag.Title = "Book store";
}
<div>
    <h3>Books sale</h3>
    <table>
        <tr>
            <th>Название</th>
            <th>Автор книги</th>
            <th>Цена</th>
            <th></th>
        </tr>
        @foreach (var book in ViewBag.Books)
        {
        <tr>
            <td>@book.Name</td>
            <td>@book.Author</td>
            <td>@book.Price</td>
            <td><a href="/Home/Buy/@book.Id">Купить книгу</a></td>
        </tr>
        }
    </table>
</div>